:root {
  --app-color: #2c3e50;
  --primary-background: #6a73b6;
  --black: #171321;
  --magenta: #e310cb;
  --secondary-background: #1565c0;
  --grey: #f9f9f9;
}

.btn-secondary { /* this is the button's class */
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover { /* this will change the button's hover & focus effect*/
  background-color: none;
  border-color: transparent;

}
.my-custom-toggle{
  color: #171321;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-toggle:hover{
  background-color: transparent;
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    color: black;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.dropdown-menu{
  max-width: 3.5rem;
  min-width: 3.5rem !important;
}
.dropdown-item:hover{
  background-color: transparent;
  border-color: transparent;
}
p {
  text-align: justify;
}
a{
  cursor: pointer;
}
.font-family-roboto{
  font-family: Roboto;
}
h3 {
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
}
.episode-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.episode-number {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.already-voted{
  color: var(--magenta);
  pointer-events: none;
}
.unauthorized{
  pointer-events: none;
}
.episode_list {
  padding: 12px;
  width: 55%;
}
.topic_list {
  padding: 16px;
  width: 45%;
}
.episode_img_holder {
  max-width: 250px;
  max-height: 150px;
  min-width: 250px;
  min-height: 152px;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.episode_img_holder:hover {
  transform: scale(1.1) rotate(4deg);
}
.col {
  flex: 0 0 100% !important;
  padding: 12px 12px 12px 26px;
}
.flex {
  position: relative;
  z-index: 0 !important;
  /* --corner-size: 2em; */
  display: flex;
  background-color: #ffff;
  clip-path: polygon(
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% 100%,
    0 100%,
    0 0
  );
}
.season-episode-bubble {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  height: 23px;
}
.bubble-inline-text {
  margin: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}
.season_list {
    display: flex;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Roboto;
}
.flex-col {
  display: flex;
  flex-flow: row;
  /* justify-content: space-between; */
  gap: 1rem;
  /* position: absolute;
  bottom: 0.4rem; */
}
.text-area {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  row-gap: 1rem;
  text-align: left;
  padding: 8px 4px 8px 16px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 #cacde1;
  width: -webkit-fill-available;
}
.upvote-icon {
  margin-right: 2px;
  vertical-align: -11px;
  height: 22px;
}
.margin-left-10 {
  margin-left: 10px;
}
.rating-text {
  font-family: Oxygen;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  bottom: 6px;
}
.chat-text {
  vertical-align: -8px;
  font-family: Oxygen;
}
.user-episode {
  font-size: 20px;
  color: #000000;
}
.user-comment-text {
  font-size: 18px;
  color: #000000;
}
.date-episode {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: lowercase;
  vertical-align: baseline;

  color: #595959;
}
.b-icon.bi {
  width: 24px;
  height: 24px;
  vertical-align: -0.9em;
  display: inline-block;
  overflow: visible;
  /* vertical-align: -0.15em; */
  min-width: 1.5rem;
  min-height: 1.4rem;
}
.ml-auto{
  margin-left: auto;
}
.mr-1{
  margin-right: 1rem;
}
.vertical-align-reset{
  vertical-align: -0.5rem !important;
}
.episode-border {
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 16px;
}
.user-comment-border{
  display: flex;
  flex-flow: column;
  gap: 2px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
  padding: 8px 12px 12px 12px
}
.hot-topic-border {
  display: flex;
  flex-flow: column;
  gap: 2px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
  padding: 8px 12px 12px 12px
}
.hot-topic-border:hover{
  box-shadow: 0 0 32px 0 #cacde1;

}
.small-button-shadow:hover{
  box-shadow: 1px 3px grey;
  color: var(--magenta);
}
.chat_icon_size {
  /* color: black; */
  margin-top: 6px;
  height: 28.124998092651367px;
  width: 26.666667938232422px;
  left: 2.6666641235351562px;
  top: 2.666656494140625px;
  border-radius: 0px;
}
.start-thread {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}
.season-padding{
  padding: 1rem 0rem;
}
@media all and (max-width: 700px) {
  .flex {
    gap: 0.1rem;
    flex-direction: column;
  }
  .episode_img_holder {
    min-width: 100%;
    max-width: 100%;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .text-area{
    border-top-right-radius: 0px;
  }
  .episode_list{
    padding: 2px;
  }
  .episode_list,
  .topic_list {
    width: 100%;
  }
  .start_thread{
    display: none;
  }
}
.hot-topic-flex{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.comment-icons{
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
@media all and (max-width: 1070px){
  .episode_list,
  .topic_list {
    width: 100%;
  }
  .season_list {
    flex-flow: column;
  }
  .col{
    padding: 12px 0px 12px 0px;
  }
}
@media all and (max-width: 500px){
  .date-episode{
    display: none;
  }
}
@media all and (min-width: 701px) and (max-width: 1070px) {
  .episode_list,
  .topic_list {
    width: 100%;
    padding: 12px 0px 12px 0px;
  }
  .season_list {
    flex-flow: column;
  }
  .episode_img_holder {
    max-width: 110px;
    min-width: 110px;
  }
  .text-area{
    padding: 8px 4px 8px 16px;
    row-gap: 0.5rem;
  }
  
 
}
@media all and (min-width: 1071px) and (max-width: 1270px) {
  .episode_img_holder {
    max-width: 200px;
    min-width:200px;
  }
}